/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

.row {
  
}

.row .smallContainer, .row .bigContainer {
  float: left;
  margin-bottom: 20px;
}

.smallContainer {
  width: 33.33333%;
}

.bigContainer {
  width: 66.66666%;
}

.inner {
  
}

.innerContainer {
  padding-right: 10px;
}

/* Posititoning Classes */


